In [1]:
import pandas as pd

In [2]:
sentence=["How are you?","I am fine.","What is your name?","It is a book","You old you are?","What is your father's name?","I am a clever student.","She is my best friend.","Which is your favourite subject?","How many apple do you have?"]
cls=["Question","Statement","Question","Statement","Question","Question","Statement","Statement","Question","Question"]

In [3]:
sentence

['How are you?',
 'I am fine.',
 'What is your name?',
 'It is a book',
 'You old you are?',
 "What is your father's name?",
 'I am a clever student.',
 'She is my best friend.',
 'Which is your favourite subject?',
 'How many apple do you have?']

In [4]:
df=pd.DataFrame({"sentence":sentence,"class":cls})

In [5]:
df

                           sentence      class
0                      How are you?   Question
1                        I am fine.  Statement
2                What is your name?   Question
3                      It is a book  Statement
4                  You old you are?   Question
5       What is your father's name?   Question
6            I am a clever student.  Statement
7            She is my best friend.  Statement
8  Which is your favourite subject?   Question
9       How many apple do you have?   Question

In [6]:
from sklearn.feature_extraction.text import CountVectorizer
stmt_docs=[row['sentence'] for index,row in df.iterrows() if row['class']=='Statement']
vec_s=CountVectorizer()
x_s=vec_s.fit_transform(stmt_docs)
tdm_s=pd.DataFrame(x_s.toarray(),columns=vec_s.get_feature_names())
tdm_s
#print(stmt_docs)
#print(vec_s.get_feature_names())
#print(x_s.toarray())

C:\Users\st\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

   am  best  book  clever  fine  friend  is  it  my  she  student
0   1     0     0       0     1       0   0   0   0    0        0
1   0     0     1       0     0       0   1   1   0    0        0
2   1     0     0       1     0       0   0   0   0    0        1
3   0     1     0       0     0       1   1   0   1    1        0

In [7]:
from sklearn.feature_extraction.text import CountVectorizer
que_docs=[row['sentence'] for index,row in df.iterrows() if row['class']=='Question']
vec_s=CountVectorizer()
x_s=vec_s.fit_transform(que_docs)
tdm_q=pd.DataFrame(x_s.toarray(),columns=vec_s.get_feature_names())
tdm_q
#print(stmt_docs)
#print(vec_s.get_feature_names())
#print(x_s.toarray())

C:\Users\st\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,apple,are,do,father,favourite,have,how,is,many,name,old,subject,what,which,you,your
0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,1
2,0,1,0,0,0,0,0,0,0,0,1,0,0,0,2,0
3,0,0,0,1,0,0,0,1,0,1,0,0,1,0,0,1
4,0,0,0,0,1,0,0,1,0,0,0,1,0,1,0,1
5,1,0,1,0,0,1,1,0,1,0,0,0,0,0,1,0

In [8]:
freq=tdm_s.sum()

In [9]:
prob=tdm_s.sum()/len(tdm_s)

In [10]:
prob

am         0.50
best       0.25
book       0.25
clever     0.25
fine       0.25
friend     0.25
is         0.50
it         0.25
my         0.25
she        0.25
student    0.25
dtype: float64

In [11]:
dfn=pd.DataFrame({"Probability":prob,"Frequency":freq})

In [12]:
dfn

         Probability  Frequency
am              0.50          2
best            0.25          1
book            0.25          1
clever          0.25          1
fine            0.25          1
friend          0.25          1
is              0.50          2
it              0.25          1
my              0.25          1
she             0.25          1
student         0.25          1

In [13]:
freqq=tdm_q.sum()

In [14]:
probq=tdm_q.sum()/len(tdm_s)

In [15]:
dfq=pd.DataFrame({"Probability":probq,"Frequency":freqq})

In [16]:
dfq

           Probability  Frequency
apple             0.25          1
are               0.50          2
do                0.25          1
father            0.25          1
favourite         0.25          1
have              0.25          1
how               0.50          2
is                0.75          3
many              0.25          1
name              0.50          2
old               0.25          1
subject           0.25          1
what              0.50          2
which             0.25          1
you               1.00          4
your              0.75          3

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

docs = [row]