In [22]:
import pandas as pd

In [23]:
pd.__version__

'1.3.2'

# Create Series

In [24]:
ls= [1, 2, -3, 4.6, "Harsh"]
ls

[1, 2, -3, 4.6, 'Harsh']

In [25]:
s1= pd.Series(ls)
s1

0        1
1        2
2       -3
3      4.6
4    Harsh
dtype: object

In [26]:
type(s1)

pandas.core.series.Series

# Change Index In Series

In [27]:
s2= pd.Series([1, 2, -3, 4.6, "Harsh"], index=[1, 2, 3, 4, 5])
s2

1        1
2        2
3       -3
4      4.6
5    Harsh
dtype: object

# Change Data Type In series

In [28]:
s3= pd.Series([1, 2, 3, 4, 5], index=[2, 3, 4, 5, 6], dtype=float)
s3

2    1.0
3    2.0
4    3.0
5    4.0
6    5.0
dtype: float64

# Give Column Name In Series

In [29]:
s4= pd.Series([1, 2, 3, 4, 5], index=[2, 3, 4, 5, 6], dtype=float, name="Name")
s4

2    1.0
3    2.0
4    3.0
5    4.0
6    5.0
Name: Name, dtype: float64

# Create Series With Dictionary

In [30]:
s5= pd.Series({1:"Harsh", 2:"Karan", 3:"Krunal"})
s5

1     Harsh
2     Karan
3    Krunal
dtype: object

# Access Values From Series

In [32]:
s5[1]

'Harsh'

In [33]:
s5[1:3]

2     Karan
3    Krunal
dtype: object

# Access Maximum And Minimum Value From Series

In [35]:
max(s4)

5.0

In [36]:
min(s4)

1.0

# Apply Condition on Series

In [37]:
s4[s4 > 3]

5    4.0
6    5.0
Name: Name, dtype: float64

In [41]:
s4[s4> 2.0]

4    3.0
5    4.0
6    5.0
Name: Name, dtype: float64

# Mathmatical Operathions On Series

In [42]:
s6= pd.Series([1, 2, 3, 4, 5])
s6

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [44]:
s7= pd.Series([3, 4, 5, 6, 7])
s7

0    3
1    4
2    5
3    6
4    7
dtype: int64

In [45]:
s7- s6

0    2
1    2
2    2
3    2
4    2
dtype: int64

In [46]:
s7+ s6

0     4
1     6
2     8
3    10
4    12
dtype: int64

In [47]:
s8= pd.Series([1, 2, 3])
s8

0    1
1    2
2    3
dtype: int64

In [48]:
s6+ s8

0    2.0
1    4.0
2    6.0
3    NaN
4    NaN
dtype: float64