In [301]:
import pandas as pd;
import numpy as np;

In [302]:
dict1={
    "Name": ["Harsh", "Rohan", "Karan", "Krunal"],
    "Marks": [29, 27, 25, 23],
    "City": ["Amreli", "Amdavad", "Palanpur", "Korea"]
}

In [303]:
df= pd.DataFrame(dict1)

In [304]:
print(df)

     Name  Marks      City
0   Harsh     29    Amreli
1   Rohan     27   Amdavad
2   Karan     25  Palanpur
3  Krunal     23     Korea

How to Convert DtaFrame To CSV

In [305]:
df.to_csv("Friends.csv")

How to Convert DtaFrame To CSV Without Index

In [306]:
df.to_csv("Friends_index=False.csv", index= False)

In [307]:
df.head(2)

    Name  Marks     City
0  Harsh     29   Amreli
1  Rohan     27  Amdavad

In [308]:
df.tail(2)

     Name  Marks      City
2   Karan     25  Palanpur
3  Krunal     23     Korea

In [309]:
df.describe()

           Marks
count   4.000000
mean   26.000000
std     2.581989
min    23.000000
25%    24.500000
50%    26.000000
75%    27.500000
max    29.000000

How To Read CSV

In [310]:
dfr=pd.read_csv("Friends_index=False.csv")
dfr

     Name  Marks      City
0   Harsh     29    Amreli
1   Rohan     27   Amdavad
2   Karan     25  Palanpur
3  Krunal     23     Korea

How To show Specified Column

In [311]:
df["Marks"]

0    29
1    27
2    25
3    23
Name: Marks, dtype: int64

How To show Specified Column With Specified Value

In [312]:
df["Marks"][0]

29

In [313]:
df.loc[0, "Marks"]

29

How To Change Values

In [314]:
df1=df.copy()
df["Marks"][0]= 21
print(df1)

     Name  Marks      City
0   Harsh     29    Amreli
1   Rohan     27   Amdavad
2   Karan     25  Palanpur
3  Krunal     23     Korea

C:\Users\PRIYAN~1\AppData\Local\Temp/ipykernel_13424/17263765.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Marks"][0]= 21

How To Change Indexing

In [315]:
df1.index= ["01", "02", "03", "04"]
df1

      Name  Marks      City
01   Harsh     29    Amreli
02   Rohan     27   Amdavad
03   Karan     25  Palanpur
04  Krunal     23     Korea

Series

In [316]:
dfS=pd.Series(np.random.rand(10))
dfS

0    0.579628
1    0.075169
2    0.748111
3    0.595660
4    0.927049
5    0.157353
6    0.630675
7    0.394332
8    0.018826
9    0.059406
dtype: float64

In [317]:
type(dfS)

pandas.core.series.Series

DataFrame

In [318]:
dfDF=pd.DataFrame(np.random.rand(10,5))
dfDF

          0         1         2         3         4
0  0.253747  0.806744  0.688129  0.975725  0.906578
1  0.330156  0.477812  0.468142  0.861413  0.059388
2  0.551414  0.952523  0.734835  0.497721  0.719725
3  0.328301  0.230047  0.565169  0.023259  0.939424
4  0.412424  0.118703  0.870633  0.706053  0.348975
5  0.116088  0.890678  0.607386  0.890480  0.204236
6  0.754613  0.874771  0.646613  0.017397  0.824654
7  0.666065  0.514127  0.090559  0.789936  0.540167
8  0.218177  0.340925  0.117959  0.040148  0.897591
9  0.471563  0.273186  0.703946  0.830364  0.532951

In [319]:
type(dfDF)

pandas.core.frame.DataFrame

How To DataType

In [320]:
dfDF.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

How To Convert In Numpy Array

In [321]:
dfDF.to_numpy

<bound method DataFrame.to_numpy of           0         1         2         3         4
0  0.253747  0.806744  0.688129  0.975725  0.906578
1  0.330156  0.477812  0.468142  0.861413  0.059388
2  0.551414  0.952523  0.734835  0.497721  0.719725
3  0.328301  0.230047  0.565169  0.023259  0.939424
4  0.412424  0.118703  0.870633  0.706053  0.348975
5  0.116088  0.890678  0.607386  0.890480  0.204236
6  0.754613  0.874771  0.646613  0.017397  0.824654
7  0.666065  0.514127  0.090559  0.789936  0.540167
8  0.218177  0.340925  0.117959  0.040148  0.897591
9  0.471563  0.273186  0.703946  0.830364  0.532951>

How To Sort Any Index

In [322]:
dfDF.sort_index(axis=0, ascending= False)

          0         1         2         3         4
9  0.471563  0.273186  0.703946  0.830364  0.532951
8  0.218177  0.340925  0.117959  0.040148  0.897591
7  0.666065  0.514127  0.090559  0.789936  0.540167
6  0.754613  0.874771  0.646613  0.017397  0.824654
5  0.116088  0.890678  0.607386  0.890480  0.204236
4  0.412424  0.118703  0.870633  0.706053  0.348975
3  0.328301  0.230047  0.565169  0.023259  0.939424
2  0.551414  0.952523  0.734835  0.497721  0.719725
1  0.330156  0.477812  0.468142  0.861413  0.059388
0  0.253747  0.806744  0.688129  0.975725  0.906578

In [323]:
dfDF.sort_index(axis=1, ascending= False)

          4         3         2         1         0
0  0.906578  0.975725  0.688129  0.806744  0.253747
1  0.059388  0.861413  0.468142  0.477812  0.330156
2  0.719725  0.497721  0.734835  0.952523  0.551414
3  0.939424  0.023259  0.565169  0.230047  0.328301
4  0.348975  0.706053  0.870633  0.118703  0.412424
5  0.204236  0.890480  0.607386  0.890678  0.116088
6  0.824654  0.017397  0.646613  0.874771  0.754613
7  0.540167  0.789936  0.090559  0.514127  0.666065
8  0.897591  0.040148  0.117959  0.340925  0.218177
9  0.532951  0.830364  0.703946  0.273186  0.471563

How To Change Coumn Name

In [324]:
dfDF.columns=list("ABCDE")
dfDF

          A         B         C         D         E
0  0.253747  0.806744  0.688129  0.975725  0.906578
1  0.330156  0.477812  0.468142  0.861413  0.059388
2  0.551414  0.952523  0.734835  0.497721  0.719725
3  0.328301  0.230047  0.565169  0.023259  0.939424
4  0.412424  0.118703  0.870633  0.706053  0.348975
5  0.116088  0.890678  0.607386  0.890480  0.204236
6  0.754613  0.874771  0.646613  0.017397  0.824654
7  0.666065  0.514127  0.090559  0.789936  0.540167
8  0.218177  0.340925  0.117959  0.040148  0.897591
9  0.471563  0.273186  0.703946  0.830364  0.532951

In [325]:
dfDF["E"][0]

0.9065776134141048

How To Change Value With Loc Functhion

In [326]:
dfDF.loc[0,"D"]= 0.999
dfDF

          A         B         C         D         E
0  0.253747  0.806744  0.688129  0.999000  0.906578
1  0.330156  0.477812  0.468142  0.861413  0.059388
2  0.551414  0.952523  0.734835  0.497721  0.719725
3  0.328301  0.230047  0.565169  0.023259  0.939424
4  0.412424  0.118703  0.870633  0.706053  0.348975
5  0.116088  0.890678  0.607386  0.890480  0.204236
6  0.754613  0.874771  0.646613  0.017397  0.824654
7  0.666065  0.514127  0.090559  0.789936  0.540167
8  0.218177  0.340925  0.117959  0.040148  0.897591
9  0.471563  0.273186  0.703946  0.830364  0.532951

In [327]:
dfDF.loc[0, 0]=0.999
dfDF

          A         B         C         D         E      0
0  0.253747  0.806744  0.688129  0.999000  0.906578  0.999
1  0.330156  0.477812  0.468142  0.861413  0.059388    NaN
2  0.551414  0.952523  0.734835  0.497721  0.719725    NaN
3  0.328301  0.230047  0.565169  0.023259  0.939424    NaN
4  0.412424  0.118703  0.870633  0.706053  0.348975    NaN
5  0.116088  0.890678  0.607386  0.890480  0.204236    NaN
6  0.754613  0.874771  0.646613  0.017397  0.824654    NaN
7  0.666065  0.514127  0.090559  0.789936  0.540167    NaN
8  0.218177  0.340925  0.117959  0.040148  0.897591    NaN
9  0.471563  0.273186  0.703946  0.830364  0.532951    NaN

How To Drop Any column

In [328]:
dfDF=dfDF.drop(0 ,axis=1)
dfDF

          A         B         C         D         E
0  0.253747  0.806744  0.688129  0.999000  0.906578
1  0.330156  0.477812  0.468142  0.861413  0.059388
2  0.551414  0.952523  0.734835  0.497721  0.719725
3  0.328301  0.230047  0.565169  0.023259  0.939424
4  0.412424  0.118703  0.870633  0.706053  0.348975
5  0.116088  0.890678  0.607386  0.890480  0.204236
6  0.754613  0.874771  0.646613  0.017397  0.824654
7  0.666065  0.514127  0.090559  0.789936  0.540167
8  0.218177  0.340925  0.117959  0.040148  0.897591
9  0.471563  0.273186  0.703946  0.830364  0.532951

How To Get Set Of Coulmns

In [329]:
dfDF.loc[[1, 2], ["E", "A"]]

          E         A
1  0.059388  0.330156
2  0.719725  0.551414

How To Perform Complex Querys

In [330]:
dfDF

          A         B         C         D         E
0  0.253747  0.806744  0.688129  0.999000  0.906578
1  0.330156  0.477812  0.468142  0.861413  0.059388
2  0.551414  0.952523  0.734835  0.497721  0.719725
3  0.328301  0.230047  0.565169  0.023259  0.939424
4  0.412424  0.118703  0.870633  0.706053  0.348975
5  0.116088  0.890678  0.607386  0.890480  0.204236
6  0.754613  0.874771  0.646613  0.017397  0.824654
7  0.666065  0.514127  0.090559  0.789936  0.540167
8  0.218177  0.340925  0.117959  0.040148  0.897591
9  0.471563  0.273186  0.703946  0.830364  0.532951

In [331]:
dfDF.loc[(dfDF["A"]> 0.3)]

          A         B         C         D         E
1  0.330156  0.477812  0.468142  0.861413  0.059388
2  0.551414  0.952523  0.734835  0.497721  0.719725
3  0.328301  0.230047  0.565169  0.023259  0.939424
4  0.412424  0.118703  0.870633  0.706053  0.348975
6  0.754613  0.874771  0.646613  0.017397  0.824654
7  0.666065  0.514127  0.090559  0.789936  0.540167
9  0.471563  0.273186  0.703946  0.830364  0.532951

In [332]:
dfDF.loc[(dfDF["A"]> 0.3),"A"]

1    0.330156
2    0.551414
3    0.328301
4    0.412424
6    0.754613
7    0.666065
9    0.471563
Name: A, dtype: float64

In [333]:
dfDF.loc[(dfDF["A"]> 0.3) & (dfDF["B"]> 0.3) ]

          A         B         C         D         E
1  0.330156  0.477812  0.468142  0.861413  0.059388
2  0.551414  0.952523  0.734835  0.497721  0.719725
6  0.754613  0.874771  0.646613  0.017397  0.824654
7  0.666065  0.514127  0.090559  0.789936  0.540167

In [334]:
dfDF.iloc[[1, 3, 5, 7, 9], [1, 4]]

          B         E
1  0.477812  0.059388
3  0.230047  0.939424
5  0.890678  0.204236
7  0.514127  0.540167
9  0.273186  0.532951

How To Reset index

In [335]:
dfDF.reset_index()

   index         A         B         C         D         E
0      0  0.253747  0.806744  0.688129  0.999000  0.906578
1      1  0.330156  0.477812  0.468142  0.861413  0.059388
2      2  0.551414  0.952523  0.734835  0.497721  0.719725
3      3  0.328301  0.230047  0.565169  0.023259  0.939424
4      4  0.412424  0.118703  0.870633  0.706053  0.348975
5      5  0.116088  0.890678  0.607386  0.890480  0.204236
6      6  0.754613  0.874771  0.646613  0.017397  0.824654
7      7  0.666065  0.514127  0.090559  0.789936  0.540167
8      8  0.218177  0.340925  0.117959  0.040148  0.897591
9      9  0.471563  0.273186  0.703946  0.830364  0.532951

In [336]:
dfDF.reset_index(drop= True)

          A         B         C         D         E
0  0.253747  0.806744  0.688129  0.999000  0.906578
1  0.330156  0.477812  0.468142  0.861413  0.059388
2  0.551414  0.952523  0.734835  0.497721  0.719725
3  0.328301  0.230047  0.565169  0.023259  0.939424
4  0.412424  0.118703  0.870633  0.706053  0.348975
5  0.116088  0.890678  0.607386  0.890480  0.204236
6  0.754613  0.874771  0.646613  0.017397  0.824654
7  0.666065  0.514127  0.090559  0.789936  0.540167
8  0.218177  0.340925  0.117959  0.040148  0.897591
9  0.471563  0.273186  0.703946  0.830364  0.532951

In [337]:
df2=pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
                   "toy": [np.nan, 'Batmobile', 'Bullwhip'],
                   "born": [pd.NaT, pd.Timestamp("1940-04-25"),
                            pd.NaT]})
df2

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

How To Drop Null Values

In [338]:
df2.dropna()

     name        toy       born
1  Batman  Batmobile 1940-04-25

How To Drop duplicates

In [339]:
df3=pd.DataFrame({"name": ['Alfred', 'Batman', 'Alfred'],
                   "toy": [np.nan, 'Batmobile', 'Bullwhip'],
                   "born": [pd.NaT, pd.Timestamp("1940-04-25"),
                            pd.NaT]})
df3

     name        toy       born
0  Alfred        NaN        NaT
1  Batman  Batmobile 1940-04-25
2  Alfred   Bullwhip        NaT

In [340]:
df3.drop_duplicates(subset=["name"])

     name        toy       born
0  Alfred        NaN        NaT
1  Batman  Batmobile 1940-04-25

How To Count Unique Values

In [342]:
df3["born"].value_counts(dropna=False)

NaT           2
1940-04-25    1
Name: born, dtype: int64