Pandas is an open-source library. 
It is a Python package that offers various data structures and operations for manipulating numerical data and time series. 
It is mainly popular for importing and analyzing data much easier. 
Pandas is fast and it has high-performance & productivity for users.

CSV (Comma Separated Values) is a simple file format used to store tabular data, such as a spreadsheet or database. 

Tabular data is data that is structured into rows, each of which contains informations.

In [1]:
 import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv('Prostate_Cancer.csv')
print(df.to_string())

     id diagnosis_result  radius  texture  perimeter  area  smoothness  compactness  symmetry  fractal_dimension
0     1                M    23.0       12        151   954       0.143        0.278     0.242              0.079
1     2                B     9.0       13        133  1326       0.143        0.079     0.181              0.057
2     3                M     NaN       27        130  1203       0.125        0.160     0.207              0.060
3     4                M    14.0       16         78   386       0.070        0.284     0.260              0.097
4     5                M     9.0       19        135  1297       0.141        0.133     0.181              0.059
5     6                B    25.0       25         83   477       0.128        0.170     0.209              0.076
6     7                M    16.0       26        120  1040       0.095        0.109     0.179              0.057
7     8                M    15.0       18         90   578       0.119        0.165     0.220              0.075
8     9                M    19.0       24         88   520       0.127        0.193     0.235              0.074
9    10                M    25.0       11         84   476       0.119        0.240     0.203              0.082
10   11                M    24.0       21        103   798       0.082        0.067     0.153              0.057
11   12                M    17.0       15        104   781       0.097        0.129     0.184              0.061
12   13                B    14.0       15        132  1123       0.097          NaN     0.240              0.078
13   14                M    12.0       22        104   783       0.084        0.100     0.185              0.053
14   15                M    12.0       13         94   578       0.113        0.229     0.207              0.077
15   16                M    22.0       19         97   659       0.114        0.160     0.230              0.071
16   17                M    10.0       16         95   685       0.099        0.072     0.159              0.059
17   18                M    15.0       14        108   799       0.117        0.202     0.216              0.074
18   19                M    20.0       14        130  1260       0.098        0.103     0.158                NaN
19   20                B    17.0       11         87   566       0.098        0.081     0.189              0.058
20   21                B    16.0       14         86   520       0.108        0.127     0.197              0.068
21   22                B    17.0       24         60   274       0.102        0.065     0.182              0.069
22   23                M    20.0       27        103   704       0.107        0.214     0.252              0.070
23   24                M    19.0       12        137  1404       0.094        0.102     0.177              0.053
24   25                M     9.0       13        110   905       0.112        0.146     0.200              0.063
25   26                M    19.0       27        116   913       0.119          NaN     0.304              0.074
26   27                M    10.0       24         97   645       0.105        0.187     0.225              0.069
27   28                M    16.0       24        122  1094       0.094        0.107     0.170              0.057
28   29                M    15.0       15        102   732       0.108        0.170     0.193              0.065
29   30                M    11.0       16        115   955       0.098        0.116     0.174              0.061
30   31                M    11.0       22        125  1088       0.106        0.189     0.218              0.062
31   32                M    23.0       26         78   441       0.111        0.152     0.230              0.078
32   33                M    20.0       18        113   899       0.120        0.150     0.225              0.064
33   34                M    11.0       21        128  1162       0.094        0.172     0.185                NaN
34   35                M    16.0       23        107   807       0.104        0.156     0.200              0.065
35   36                M    10.0       13        110   870       0.096        0.134     0.190              0.057
36   37                M    18.0       12         94   633       0.098          NaN     0.189              0.061
37   38                B    21.0       11         83   524       0.090        0.038     0.147              0.059
38   39                M    11.0       15         96   699       0.094        0.051     0.157              0.055
39   40                M    10.0       14         88   559       0.102        0.126     0.172              0.064
40   41                M    24.0       16         86   563       0.082        0.060     0.178              0.056
41   42                M    19.0       27         72   371       0.123        0.122     0.190              0.069
42   43                M    11.0       11        128  1104       0.091        0.219     0.231              0.063
43   44                M    15.0       21         87   545       0.104        0.144     0.197              0.068
44   45                M    10.0       15         85   532       0.097        0.105     0.175              0.062
45   46                M    18.0       11        124  1076       0.110        0.169     0.191              0.060
46   47                B    22.0       12         52   202       0.086        0.059     0.177              0.065
47   48                M    20.0       14         86   535       0.116        0.123     0.213              0.068
48   49                B    20.0       21         78   449       0.103        0.091     0.168              0.060
49   50                B    25.0       11         87   561       0.088        0.077     0.181              0.057
50   51                B    19.0       25         75   428       0.086        0.050     0.150              0.059
51   52                B    19.0       22         87   572       0.077        0.061     0.135              0.060
52   53                B    25.0       15         76   438       0.083        0.048     0.187              0.061
53   54                M    14.0       26        120  1033       0.115        0.149     0.209              0.063
54   55                M    18.0       25         97   713       0.091        0.071     0.162              0.057
55   56                B    18.0       13         73   409       0.095        0.055     0.192              0.059
56   57                M    10.0       19        126  1152       0.105        0.127     0.192              0.060
57   58                M    17.0       20         96   657       0.114        0.137     0.203              0.068
58   59                B    22.0       15         83   527       0.081        0.038     0.182              0.055
59   60                B    23.0       26         54   225       0.098        0.053     0.168              0.072
60   61                B    15.0       18         65   312       0.113        0.081     0.274              0.070
61   62                B    25.0       15         55   222       0.124        0.090     0.183              0.068
62   63                M    12.0       22         96   646       0.105        0.201     0.195              0.073
63   64                B    24.0       17         59   261       0.077        0.088     0.234              0.070
64   65                M    16.0       19         83   499       0.112        0.126     0.191              0.066
65   66                M    11.0       21         97   668       0.117        0.148     0.195              0.067
66   67                B    12.0       13         60   269       0.104        0.078     0.172              0.069
67   68                B    18.0       12         72   394       0.081        0.047     0.152              0.057
68   69                B    16.0       17         59   251       0.107        0.141     0.211              0.080
69   70                B    17.0       21         81   503       0.098        0.052     0.159              0.057
70   71                M    21.0       18        124  1130       0.090        0.103     0.158              0.055
71   72                B     9.0       26         59   244       0.098        0.153     0.190              0.090
72   73                M    21.0       12        114   929       0.107        0.183     0.193              0.065
73   74                M    22.0       25         90   584       0.101        0.128     0.166              0.066
74   75                B    18.0       13         79   471       0.092        0.068     0.172              0.059
75   76                M    21.0       18        104   818       0.092        0.084     0.180              0.054
76   77                B    10.0       17         88   559       0.129        0.105     0.240              0.066
77   78                M    11.0       21        120  1006       0.107        0.215     0.215              0.067
78   79                M    16.0       18        144  1245       0.129        0.345     0.291              0.081
79   80                B    22.0       16         83   506       0.099        0.095     0.172              0.060
80   81                B    10.0       18         74   402       0.110        0.094     0.184              0.070
81   82                B    17.0       21         86   520       0.108        0.154     0.194              0.069
82   83                M    10.0       15        172  1878       0.106        0.267     0.183              0.068
83   84                M    20.0       14        129  1132       0.122        0.179     0.163              0.072
84   85                B    25.0       21         77   443       0.097        0.072     0.208              0.060
85   86                M    14.0       13        121  1075       0.099        0.105     0.213              0.060
86   87                M    19.0       26         94   648       0.094        0.099     0.208              0.056
87   88                M    19.0       11        122  1076       0.090        0.121     0.195              0.056
88   89                B    11.0       11         80   466       0.088        0.094     0.193              0.064
89   90                B    12.0       23         96   652       0.113        0.134     0.212              0.063
90   91                B    23.0       27         95   663       0.090        0.086     0.169              0.059
91   92                M    10.0       12        100   728       0.092        0.104     0.172              0.061
92   93                B    14.0       14         85   552       0.074        0.051     0.139              0.053
93   94                B    10.0       17         87   555       0.102        0.082     0.164              0.057
94   95                M    22.0       26        100   706       0.104        0.155     0.186              0.063
95   96                M    23.0       16        132  1264       0.091        0.131     0.210              0.056
96   97                B    22.0       14         78   451       0.105        0.071     0.190              0.066
97   98                B    19.0       27         62   295       0.102        0.053     0.135              0.069
98   99                B    21.0       24         74   413       0.090        0.075     0.162              0.066
99  100                M    16.0       27         94   643       0.098        0.114     0.188              0.064

- > >Viewing data

- >top and bottom rows of the frame

In [4]:
df.head(5)

,id,diagnosis_result,radius,texture,perimeter,area,smoothness,compactness,symmetry,fractal_dimension
0,1,M,23.0,12,151,954,0.143,0.278,0.242,0.079
1,2,B,9.0,13,133,1326,0.143,0.079,0.181,0.057
2,3,M,NaN,27,130,1203,0.125,0.160,0.207,0.060
3,4,M,14.0,16,78,386,0.070,0.284,0.260,0.097
4,5,M,9.0,19,135,1297,0.141,0.133,0.181,0.059

In [5]:
df.tail(5)

,id,diagnosis_result,radius,texture,perimeter,area,smoothness,compactness,symmetry,fractal_dimension
95,96,M,23.0,16,132,1264,0.091,0.131,0.210,0.056
96,97,B,22.0,14,78,451,0.105,0.071,0.190,0.066
97,98,B,19.0,27,62,295,0.102,0.053,0.135,0.069
98,99,B,21.0,24,74,413,0.090,0.075,0.162,0.066
99,100,M,16.0,27,94,643,0.098,0.114,0.188,0.064

- >Display the index, columns

In [6]:
df.index

RangeIndex(start=0, stop=100, step=1)

In [7]:
df.columns

Index(['id', 'diagnosis_result', 'radius', 'texture', 'perimeter', 'area',
       'smoothness', 'compactness', 'symmetry', 'fractal_dimension'],
      dtype='object')

- >NumPy arrays have one dtype for the entire array, while pandas DataFrames have one dtype per column

In [8]:
df.to_numpy()

array([[1, 'M', 23.0, 12, 151, 954, 0.143, 0.278, 0.242, 0.079],
       [2, 'B', 9.0, 13, 133, 1326, 0.143, 0.079, 0.181, 0.057],
       [3, 'M', nan, 27, 130, 1203, 0.125, 0.16, 0.207, 0.06],
       [4, 'M', 14.0, 16, 78, 386, 0.07, 0.284, 0.26, 0.097],
       [5, 'M', 9.0, 19, 135, 1297, 0.141, 0.133, 0.181, 0.059],
       [6, 'B', 25.0, 25, 83, 477, 0.128, 0.17, 0.209, 0.076],
       [7, 'M', 16.0, 26, 120, 1040, 0.095, 0.109, 0.179, 0.057],
       [8, 'M', 15.0, 18, 90, 578, 0.119, 0.165, 0.22, 0.075],
       [9, 'M', 19.0, 24, 88, 520, 0.127, 0.193, 0.235, 0.074],
       [10, 'M', 25.0, 11, 84, 476, 0.119, 0.24, 0.203, 0.082],
       [11, 'M', 24.0, 21, 103, 798, 0.082, 0.067, 0.153, 0.057],
       [12, 'M', 17.0, 15, 104, 781, 0.097, 0.129, 0.184, 0.061],
       [13, 'B', 14.0, 15, 132, 1123, 0.097, nan, 0.24, 0.078],
       [14, 'M', 12.0, 22, 104, 783, 0.084, 0.1, 0.185, 0.053],
       [15, 'M', 12.0, 13, 94, 578, 0.113, 0.229, 0.207, 0.077],
       [16, 'M', 22.0, 19, 97, 659, 0.114, 0.16, 0.23, 0.071],
       [17, 'M', 10.0, 16, 95, 685, 0.099, 0.072, 0.159, 0.059],
       [18, 'M', 15.0, 14, 108, 799, 0.117, 0.202, 0.216, 0.074],
       [19, 'M', 20.0, 14, 130, 1260, 0.098, 0.103, 0.158, nan],
       [20, 'B', 17.0, 11, 87, 566, 0.098, 0.081, 0.189, 0.058],
       [21, 'B', 16.0, 14, 86, 520, 0.108, 0.127, 0.197, 0.068],
       [22, 'B', 17.0, 24, 60, 274, 0.102, 0.065, 0.182, 0.069],
       [23, 'M', 20.0, 27, 103, 704, 0.107, 0.214, 0.252, 0.07],
       [24, 'M', 19.0, 12, 137, 1404, 0.094, 0.102, 0.177, 0.053],
       [25, 'M', 9.0, 13, 110, 905, 0.112, 0.146, 0.2, 0.063],
       [26, 'M', 19.0, 27, 116, 913, 0.119, nan, 0.304, 0.074],
       [27, 'M', 10.0, 24, 97, 645, 0.105, 0.187, 0.225, 0.069],
       [28, 'M', 16.0, 24, 122, 1094, 0.094, 0.107, 0.17, 0.057],
       [29, 'M', 15.0, 15, 102, 732, 0.108, 0.17, 0.193, 0.065],
       [30, 'M', 11.0, 16, 115, 955, 0.098, 0.116, 0.174, 0.061],
       [31, 'M', 11.0, 22, 125, 1088, 0.106, 0.189, 0.218, 0.062],
       [32, 'M', 23.0, 26, 78, 441, 0.111, 0.152, 0.23, 0.078],
       [33, 'M', 20.0, 18, 113, 899, 0.12, 0.15, 0.225, 0.064],
       [34, 'M', 11.0, 21, 128, 1162, 0.094, 0.172, 0.185, nan],
       [35, 'M', 16.0, 23, 107, 807, 0.104, 0.156, 0.2, 0.065],
       [36, 'M', 10.0, 13, 110, 870, 0.096, 0.134, 0.19, 0.057],
       [37, 'M', 18.0, 12, 94, 633, 0.098, nan, 0.189, 0.061],
       [38, 'B', 21.0, 11, 83, 524, 0.09, 0.038, 0.147, 0.059],
       [39, 'M', 11.0, 15, 96, 699, 0.094, 0.051, 0.157, 0.055],
       [40, 'M', 10.0, 14, 88, 559, 0.102, 0.126, 0.172, 0.064],
       [41, 'M', 24.0, 16, 86, 563, 0.082, 0.06, 0.178, 0.056],
       [42, 'M', 19.0, 27, 72, 371, 0.123, 0.122, 0.19, 0.069],
       [43, 'M', 11.0, 11, 128, 1104, 0.091, 0.219, 0.231, 0.063],
       [44, 'M', 15.0, 21, 87, 545, 0.104, 0.144, 0.197, 0.068],
       [45, 'M', 10.0, 15, 85, 532, 0.097, 0.105, 0.175, 0.062],
       [46, 'M', 18.0, 11, 124, 1076, 0.11, 0.169, 0.191, 0.06],
       [47, 'B', 22.0, 12, 52, 202, 0.086, 0.059, 0.177, 0.065],
       [48, 'M', 20.0, 14, 86, 535, 0.116, 0.123, 0.213, 0.068],
       [49, 'B', 20.0, 21, 78, 449, 0.103, 0.091, 0.168, 0.06],
       [50, 'B', 25.0, 11, 87, 561, 0.088, 0.077, 0.181, 0.057],
       [51, 'B', 19.0, 25, 75, 428, 0.086, 0.05, 0.15, 0.059],
       [52, 'B', 19.0, 22, 87, 572, 0.077, 0.061, 0.135, 0.06],
       [53, 'B', 25.0, 15, 76, 438, 0.083, 0.048, 0.187, 0.061],
       [54, 'M', 14.0, 26, 120, 1033, 0.115, 0.149, 0.209, 0.063],
       [55, 'M', 18.0, 25, 97, 713, 0.091, 0.071, 0.162, 0.057],
       [56, 'B', 18.0, 13, 73, 409, 0.095, 0.055, 0.192, 0.059],
       [57, 'M', 10.0, 19, 126, 1152, 0.105, 0.127, 0.192, 0.06],
       [58, 'M', 17.0, 20, 96, 657, 0.114, 0.137, 0.203, 0.068],
       [59, 'B', 22.0, 15, 83, 527, 0.081, 0.038, 0.182, 0.055],
       [60, 'B', 23.0, 26, 54, 225, 0.098, 0.053, 0.168, 0.072],
       [61, 'B', 15.0, 18, 65, 312, 0.113, 0.081, 0.274, 0.07],
       [62, 'B', 25.0, 15, 55, 222, 0.124, 0.09, 0.183, 0.068],
       [63, 'M', 12.0, 22, 96, 646, 0.105, 0.201, 0.195, 0.073],
       [64, 'B', 24.0, 17, 59, 261, 0.077, 0.088, 0.234, 0.07],
       [65, 'M', 16.0, 19, 83, 499, 0.112, 0.126, 0.191, 0.066],
       [66, 'M', 11.0, 21, 97, 668, 0.117, 0.148, 0.195, 0.067],
       [67, 'B', 12.0, 13, 60, 269, 0.104, 0.078, 0.172, 0.069],
       [68, 'B', 18.0, 12, 72, 394, 0.081, 0.047, 0.152, 0.057],
       [69, 'B', 16.0, 17, 59, 251, 0.107, 0.141, 0.211, 0.08],
       [70, 'B', 17.0, 21, 81, 503, 0.098, 0.052, 0.159, 0.057],
       [71, 'M', 21.0, 18, 124, 1130, 0.09, 0.103, 0.158, 0.055],
       [72, 'B', 9.0, 26, 59, 244, 0.098, 0.153, 0.19, 0.09],
       [73, 'M', 21.0, 12, 114, 929, 0.107, 0.183, 0.193, 0.065],
       [74, 'M', 22.0, 25, 90, 584, 0.101, 0.128, 0.166, 0.066],
       [75, 'B', 18.0, 13, 79, 471, 0.092, 0.068, 0.172, 0.059],
       [76, 'M', 21.0, 18, 104, 818, 0.092, 0.084, 0.18, 0.054],
       [77, 'B', 10.0, 17, 88, 559, 0.129, 0.105, 0.24, 0.066],
       [78, 'M', 11.0, 21, 120, 1006, 0.107, 0.215, 0.215, 0.067],
       [79, 'M', 16.0, 18, 144, 1245, 0.129, 0.345, 0.291, 0.081],
       [80, 'B', 22.0, 16, 83, 506, 0.099, 0.095, 0.172, 0.06],
       [81, 'B', 10.0, 18, 74, 402, 0.11, 0.094, 0.184, 0.07],
       [82, 'B', 17.0, 21, 86, 520, 0.108, 0.154, 0.194, 0.069],
       [83, 'M', 10.0, 15, 172, 1878, 0.106, 0.267, 0.183, 0.068],
       [84, 'M', 20.0, 14, 129, 1132, 0.122, 0.179, 0.163, 0.072],
       [85, 'B', 25.0, 21, 77, 443, 0.097, 0.072, 0.208, 0.06],
       [86, 'M', 14.0, 13, 121, 1075, 0.099, 0.105, 0.213, 0.06],
       [87, 'M', 19.0, 26, 94, 648, 0.094, 0.099, 0.208, 0.056],
       [88, 'M', 19.0, 11, 122, 1076, 0.09, 0.121, 0.195, 0.056],
       [89, 'B', 11.0, 11, 80, 466, 0.088, 0.094, 0.193, 0.064],
       [90, 'B', 12.0, 23, 96, 652, 0.113, 0.134, 0.212, 0.063],
       [91, 'B', 23.0, 27, 95, 663, 0.09, 0.086, 0.169, 0.059],
       [92, 'M', 10.0, 12, 100, 728, 0.092, 0.104, 0.172, 0.061],
       [93, 'B', 14.0, 14, 85, 552, 0.074, 0.051, 0.139, 0.053],
       [94, 'B', 10.0, 17, 87, 555, 0.102, 0.082, 0.164, 0.057],
       [95, 'M', 22.0, 26, 100, 706, 0.104, 0.155, 0.186, 0.063],
       [96, 'M', 23.0, 16, 132, 1264, 0.091, 0.131, 0.21, 0.056],
       [97, 'B', 22.0, 14, 78, 451, 0.105, 0.071, 0.19, 0.066],
       [98, 'B', 19.0, 27, 62, 295, 0.102, 0.053, 0.135, 0.069],
       [99, 'B', 21.0, 24, 74, 413, 0.09, 0.075, 0.162, 0.066],
       [100, 'M', 16.0, 27, 94, 643, 0.098, 0.114, 0.188, 0.064]],
      dtype=object)

- >quick statistic summary of your data

In [9]:
df.describe()

,id,radius,texture,perimeter,area,smoothness,compactness,symmetry,fractal_dimension
count,100.000000,99.000000,100.000000,100.000000,100.000000,100.000000,97.000000,100.000000,98.000000
mean,50.500000,16.808081,18.230000,96.780000,702.880000,0.102730,0.124598,0.193170,0.064816
std,29.011492,4.885791,5.192954,23.676089,319.710895,0.014642,0.059940,0.030785,0.008160
min,1.000000,9.000000,11.000000,52.000000,202.000000,0.070000,0.038000,0.135000,0.053000
25%,25.750000,12.000000,14.000000,82.500000,476.750000,0.093500,0.079000,0.172000,0.059000
50%,50.500000,17.000000,17.500000,94.000000,644.000000,0.102000,0.116000,0.190000,0.063500
75%,75.250000,21.000000,22.250000,114.250000,917.000000,0.112000,0.155000,0.209000,0.069000
max,100.000000,25.000000,27.000000,172.000000,1878.000000,0.143000,0.345000,0.304000,0.097000

- >Transposing your data

In [10]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
id,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
diagnosis_result,M,B,M,M,M,B,M,M,M,M,...,B,M,B,B,M,M,B,B,B,M
radius,23.0,9.0,NaN,14.0,9.0,25.0,16.0,15.0,19.0,25.0,...,23.0,10.0,14.0,10.0,22.0,23.0,22.0,19.0,21.0,16.0
texture,12,13,27,16,19,25,26,18,24,11,...,27,12,14,17,26,16,14,27,24,27
perimeter,151,133,130,78,135,83,120,90,88,84,...,95,100,85,87,100,132,78,62,74,94
area,954,1326,1203,386,1297,477,1040,578,520,476,...,663,728,552,555,706,1264,451,295,413,643
smoothness,0.143,0.143,0.125,0.07,0.141,0.128,0.095,0.119,0.127,0.119,...,0.09,0.092,0.074,0.102,0.104,0.091,0.105,0.102,0.09,0.098
compactness,0.278,0.079,0.16,0.284,0.133,0.17,0.109,0.165,0.193,0.24,...,0.086,0.104,0.051,0.082,0.155,0.131,0.071,0.053,0.075,0.114
symmetry,0.242,0.181,0.207,0.26,0.181,0.209,0.179,0.22,0.235,0.203,...,0.169,0.172,0.139,0.164,0.186,0.21,0.19,0.135,0.162,0.188
fractal_dimension,0.079,0.057,0.06,0.097,0.059,0.076,0.057,0.075,0.074,0.082,...,0.059,0.061,0.053,0.057,0.063,0.056,0.066,0.069,0.066,0.064

- >Sorting by an axis

In [11]:
df.sort_index(axis=0,ascending=False)

,id,diagnosis_result,radius,texture,perimeter,area,smoothness,compactness,symmetry,fractal_dimension
99,100,M,16.0,27,94,643,0.098,0.114,0.188,0.064
98,99,B,21.0,24,74,413,0.090,0.075,0.162,0.066
97,98,B,19.0,27,62,295,0.102,0.053,0.135,0.069
96,97,B,22.0,14,78,451,0.105,0.071,0.190,0.066
95,96,M,23.0,16,132,1264,0.091,0.131,0.210,0.056
...,...,...,...,...,...,...,...,...,...,...
4,5,M,9.0,19,135,1297,0.141,0.133,0.181,0.059
3,4,M,14.0,16,78,386,0.070,0.284,0.260,0.097
2,3,M,NaN,27,130,1203,0.125,0.160,0.207,0.060
1,2,B,9.0,13,133,1326,0.143,0.079,0.181,0.057
0,1,M,23.0,12,151,954,0.143,0.278,0.242,0.079

- >Sorting by values

In [12]:
df.sort_values(by="radius")

,id,diagnosis_result,radius,texture,perimeter,area,smoothness,compactness,symmetry,fractal_dimension
24,25,M,9.0,13,110,905,0.112,0.146,0.200,0.063
1,2,B,9.0,13,133,1326,0.143,0.079,0.181,0.057
4,5,M,9.0,19,135,1297,0.141,0.133,0.181,0.059
71,72,B,9.0,26,59,244,0.098,0.153,0.190,0.090
35,36,M,10.0,13,110,870,0.096,0.134,0.190,0.057
...,...,...,...,...,...,...,...,...,...,...
49,50,B,25.0,11,87,561,0.088,0.077,0.181,0.057
52,53,B,25.0,15,76,438,0.083,0.048,0.187,0.061
5,6,B,25.0,25,83,477,0.128,0.170,0.209,0.076
84,85,B,25.0,21,77,443,0.097,0.072,0.208,0.060
2,3,M,NaN,27,130,1203,0.125,0.160,0.207,0.060

- >>Selection

- >Selecting a single column

In [13]:
df["radius"]

0     23.0
1      9.0
2      NaN
3     14.0
4      9.0
      ...
95    23.0
96    22.0
97    19.0
98    21.0
99    16.0
Name: radius, Length: 100, dtype: float64

In [14]:
df[0:11]

,id,diagnosis_result,radius,texture,perimeter,area,smoothness,compactness,symmetry,fractal_dimension
0,1,M,23.0,12,151,954,0.143,0.278,0.242,0.079
1,2,B,9.0,13,133,1326,0.143,0.079,0.181,0.057
2,3,M,NaN,27,130,1203,0.125,0.160,0.207,0.060
3,4,M,14.0,16,78,386,0.070,0.284,0.260,0.097
4,5,M,9.0,19,135,1297,0.141,0.133,0.181,0.059
5,6,B,25.0,25,83,477,0.128,0.170,0.209,0.076
6,7,M,16.0,26,120,1040,0.095,0.109,0.179,0.057
7,8,M,15.0,18,90,578,0.119,0.165,0.220,0.075
8,9,M,19.0,24,88,520,0.127,0.193,0.235,0.074
9,10,M,25.0,11,84,476,0.119,0.240,0.203,0.082
10,11,M,24.0,21,103,798,0.082,0.067,0.153,0.057

- >selection using a label

In [15]:
df.loc[0]

id                       1
diagnosis_result         M
radius                23.0
texture                 12
perimeter              151
area                   954
smoothness           0.143
compactness          0.278
symmetry             0.242
fractal_dimension    0.079
Name: 0, dtype: object

- >Selecting on a multi-axis by label

In [16]:
df.loc[:, ["area", "symmetry"]]

    area  symmetry
0    954     0.242
1   1326     0.181
2   1203     0.207
3    386     0.260
4   1297     0.181
..   ...       ...
95  1264     0.210
96   451     0.190
97   295     0.135
98   413     0.162
99   643     0.188

[100 rows x 2 columns]

- >Showing label slicing, both endpoints are included

In [17]:
df.loc[ 5: 11, ["area", "symmetry"]]

    area  symmetry
5    477     0.209
6   1040     0.179
7    578     0.220
8    520     0.235
9    476     0.203
10   798     0.153
11   781     0.184

- >Reduction in the dimensions of the returned object

In [18]:
print(df.loc[ 5, ["area", "symmetry"]])
print(df.to_string())

area          477
symmetry    0.209
Name: 5, dtype: object
     id diagnosis_result  radius  texture  perimeter  area  smoothness  compactness  symmetry  fractal_dimension
0     1                M    23.0       12        151   954       0.143        0.278     0.242              0.079
1     2                B     9.0       13        133  1326       0.143        0.079     0.181              0.057
2     3                M     NaN       27        130  1203       0.125        0.160     0.207              0.060
3     4                M    14.0       16         78   386       0.070        0.284     0.260              0.097
4     5                M     9.0       19        135  1297       0.141        0.133     0.181              0.059
5     6                B    25.0       25         83   477       0.128        0.170     0.209              0.076
6     7                M    16.0       26        120  1040       0.095        0.109     0.179              0.057
7     8                M    15.0       18         90   578       0.119        0.165     0.220              0.075
8     9                M    19.0       24         88   520       0.127        0.193     0.235              0.074
9    10                M    25.0       11         84   476       0.119        0.240     0.203              0.082
10   11                M    24.0       21        103   798       0.082        0.067     0.153              0.057
11   12                M    17.0       15        104   781       0.097        0.129     0.184              0.061
12   13                B    14.0       15        132  1123       0.097          NaN     0.240              0.078
13   14                M    12.0       22        104   783       0.084        0.100     0.185              0.053
14   15                M    12.0       13         94   578       0.113        0.229     0.207              0.077
15   16                M    22.0       19         97   659       0.114        0.160     0.230              0.071
16   17                M    10.0       16         95   685       0.099        0.072     0.159              0.059
17   18                M    15.0       14        108   799       0.117        0.202     0.216              0.074
18   19                M    20.0       14        130  1260       0.098        0.103     0.158                NaN
19   20                B    17.0       11         87   566       0.098        0.081     0.189              0.058
20   21                B    16.0       14         86   520       0.108        0.127     0.197              0.068
21   22                B    17.0       24         60   274       0.102        0.065     0.182              0.069
22   23                M    20.0       27        103   704       0.107        0.214     0.252              0.070
23   24                M    19.0       12        137  1404       0.094        0.102     0.177              0.053
24   25                M     9.0       13        110   905       0.112        0.146     0.200              0.063
25   26                M    19.0       27        116   913       0.119          NaN     0.304              0.074
26   27                M    10.0       24         97   645       0.105        0.187     0.225              0.069
27   28                M    16.0       24        122  1094       0.094        0.107     0.170              0.057
28   29                M    15.0       15        102   732       0.108        0.170     0.193              0.065
29   30                M    11.0       16        115   955       0.098        0.116     0.174              0.061
30   31                M    11.0       22        125  1088       0.106        0.189     0.218              0.062
31   32                M    23.0       26         78   441       0.111        0.152     0.230              0.078
32   33                M    20.0       18        113   899       0.120        0.150     0.225              0.064
33   34                M    11.0       21        128  1162       0.094        0.172     0.185                NaN
34   35                M    16.0       23        107   807       0.104        0.156     0.200              0.065
35   36                M    10.0       13        110   870       0.096        0.134     0.190              0.057
36   37                M    18.0       12         94   633       0.098          NaN     0.189              0.061
37   38                B    21.0       11         83   524       0.090        0.038     0.147              0.059
38   39                M    11.0       15         96   699       0.094        0.051     0.157              0.055
39   40                M    10.0       14         88   559       0.102        0.126     0.172              0.064
40   41                M    24.0       16         86   563       0.082        0.060     0.178              0.056
41   42                M    19.0       27         72   371       0.123        0.122     0.190              0.069
42   43                M    11.0       11        128  1104       0.091        0.219     0.231              0.063
43   44                M    15.0       21         87   545       0.104        0.144     0.197              0.068
44   45                M    10.0       15         85   532       0.097        0.105     0.175              0.062
45   46                M    18.0       11        124  1076       0.110        0.169     0.191              0.060
46   47                B    22.0       12         52   202       0.086        0.059     0.177              0.065
47   48                M    20.0       14         86   535       0.116        0.123     0.213              0.068
48   49                B    20.0       21         78   449       0.103        0.091     0.168              0.060
49   50                B    25.0       11         87   561       0.088        0.077     0.181              0.057
50   51                B    19.0       25         75   428       0.086        0.050     0.150              0.059
51   52                B    19.0       22         87   572       0.077        0.061     0.135              0.060
52   53                B    25.0       15         76   438       0.083        0.048     0.187              0.061
53   54                M    14.0       26        120  1033       0.115        0.149     0.209              0.063
54   55                M    18.0       25         97   713       0.091        0.071     0.162              0.057
55   56                B    18.0       13         73   409       0.095        0.055     0.192              0.059
56   57                M    10.0       19        126  1152       0.105        0.127     0.192              0.060
57   58                M    17.0       20         96   657       0.114        0.137     0.203              0.068
58   59                B    22.0       15         83   527       0.081        0.038     0.182              0.055
59   60                B    23.0       26         54   225       0.098        0.053     0.168              0.072
60   61                B    15.0       18         65   312       0.113        0.081     0.274              0.070
61   62                B    25.0       15         55   222       0.124        0.090     0.183              0.068
62   63                M    12.0       22         96   646       0.105        0.201     0.195              0.073
63   64                B    24.0       17         59   261       0.077        0.088     0.234              0.070
64   65                M    16.0       19         83   499       0.112        0.126     0.191              0.066
65   66                M    11.0       21         97   668       0.117        0.148     0.195              0.067
66   67                B    12.0       13         60   269       0.104        0.078     0.172              0.069
67   68                B    18.0       12         72   394       0.081        0.047     0.152              0.057
68   69                B    16.0       17         59   251       0.107        0.141     0.211              0.080
69   70                B    17.0       21         81   503       0.098        0.052     0.159              0.057
70   71                M    21.0       18        124  1130       0.090        0.103     0.158              0.055
71   72                B     9.0       26         59   244       0.098        0.153     0.190              0.090
72   73                M    21.0       12        114   929       0.107        0.183     0.193              0.065
73   74                M    22.0       25         90   584       0.101        0.128     0.166              0.066
74   75                B    18.0       13         79   471       0.092        0.068     0.172              0.059
75   76                M    21.0       18        104   818       0.092        0.084     0.180              0.054
76   77                B    10.0       17         88   559       0.129        0.105     0.240              0.066
77   78                M    11.0       21        120  1006       0.107        0.215     0.215              0.067
78   79                M    16.0       18        144  1245       0.129        0.345     0.291              0.081
79   80                B    22.0       16         83   506       0.099        0.095     0.172              0.060
80   81                B    10.0       18         74   402       0.110        0.094     0.184              0.070
81   82                B    17.0       21         86   520       0.108        0.154     0.194              0.069
82   83                M    10.0       15        172  1878       0.106        0.267     0.183              0.068
83   84                M    20.0       14        129  1132       0.122        0.179     0.163              0.072
84   85                B    25.0       21         77   443       0.097        0.072     0.208              0.060
85   86                M    14.0       13        121  1075       0.099        0.105     0.213              0.060
86   87                M    19.0       26         94   648       0.094        0.099     0.208              0.056
87   88                M    19.0       11        122  1076       0.090        0.121     0.195              0.056
88   89                B    11.0       11         80   466       0.088        0.094     0.193              0.064
89   90                B    12.0       23         96   652       0.113        0.134     0.212              0.063
90   91                B    23.0       27         95   663       0.090        0.086     0.169              0.059
91   92                M    10.0       12        100   728       0.092        0.104     0.172              0.061
92   93                B    14.0       14         85   552       0.074        0.051     0.139              0.053
93   94                B    10.0       17         87   555       0.102        0.082     0.164              0.057
94   95                M    22.0       26        100   706       0.104        0.155     0.186              0.063
95   96                M    23.0       16        132  1264       0.091        0.131     0.210              0.056
96   97                B    22.0       14         78   451       0.105        0.071     0.190              0.066
97   98                B    19.0       27         62   295       0.102        0.053     0.135              0.069
98   99                B    21.0       24         74   413       0.090        0.075     0.162              0.066
99  100                M    16.0       27         94   643       0.098        0.114     0.188              0.064

- >Select via the position of the passed integers

In [19]:
df.iloc[0]

id                       1
diagnosis_result         M
radius                23.0
texture                 12
perimeter              151
area                   954
smoothness           0.143
compactness          0.278
symmetry             0.242
fractal_dimension    0.079
Name: 0, dtype: object

- >By integer slices

In [20]:
df.iloc[0:3,0:2]

   id diagnosis_result
0   1                M
1   2                B
2   3                M

- >By lists of integer position locations

In [21]:
df.iloc[[1, 2, 4], [0, 2]]

   id  radius
1   2     9.0
2   3     NaN
4   5     9.0

- >Boolean indexing
Using a single columnâ€™s values to select data

In [22]:
df[df["radius"] > 20]

,id,diagnosis_result,radius,texture,perimeter,area,smoothness,compactness,symmetry,fractal_dimension
0,1,M,23.0,12,151,954,0.143,0.278,0.242,0.079
5,6,B,25.0,25,83,477,0.128,0.170,0.209,0.076
9,10,M,25.0,11,84,476,0.119,0.240,0.203,0.082
10,11,M,24.0,21,103,798,0.082,0.067,0.153,0.057
15,16,M,22.0,19,97,659,0.114,0.160,0.230,0.071
31,32,M,23.0,26,78,441,0.111,0.152,0.230,0.078
37,38,B,21.0,11,83,524,0.090,0.038,0.147,0.059
40,41,M,24.0,16,86,563,0.082,0.060,0.178,0.056
46,47,B,22.0,12,52,202,0.086,0.059,0.177,0.065
49,50,B,25.0,11,87,561,0.088,0.077,0.181,0.057
52,53,B,25.0,15,76,438,0.083,0.048,0.187,0.061
58,59,B,22.0,15,83,527,0.081,0.038,0.182,0.055
59,60,B,23.0,26,54,225,0.098,0.053,0.168,0.072
61,62,B,25.0,15,55,222,0.124,0.090,0.183,0.068
63,64,B,24.0,17,59,261,0.077,0.088,0.234,0.070
70,71,M,21.0,18,124,1130,0.090,0.103,0.158,0.055
72,73,M,21.0,12,114,929,0.107,0.183,0.193,0.065
73,74,M,22.0,25,90,584,0.101,0.128,0.166,0.066
75,76,M,21.0,18,104,818,0.092,0.084,0.180,0.054
79,80,B,22.0,16,83,506,0.099,0.095,0.172,0.060
84,85,B,25.0,21,77,443,0.097,0.072,0.208,0.060
90,91,B,23.0,27,95,663,0.090,0.086,0.169,0.059
94,95,M,22.0,26,100,706,0.104,0.155,0.186,0.063
95,96,M,23.0,16,132,1264,0.091,0.131,0.210,0.056
96,97,B,22.0,14,78,451,0.105,0.071,0.190,0.066
98,99,B,21.0,24,74,413,0.090,0.075,0.162,0.066

- >Using the isin() method for filtering

In [23]:
df2 = df.copy()
df2["New_Column"]=(np.arange(0,len(df2)))
df2

,id,diagnosis_result,radius,texture,perimeter,area,smoothness,compactness,symmetry,fractal_dimension,New_Column
0,1,M,23.0,12,151,954,0.143,0.278,0.242,0.079,0
1,2,B,9.0,13,133,1326,0.143,0.079,0.181,0.057,1
2,3,M,NaN,27,130,1203,0.125,0.160,0.207,0.060,2
3,4,M,14.0,16,78,386,0.070,0.284,0.260,0.097,3
4,5,M,9.0,19,135,1297,0.141,0.133,0.181,0.059,4
...,...,...,...,...,...,...,...,...,...,...,...
95,96,M,23.0,16,132,1264,0.091,0.131,0.210,0.056,95
96,97,B,22.0,14,78,451,0.105,0.071,0.190,0.066,96
97,98,B,19.0,27,62,295,0.102,0.053,0.135,0.069,97
98,99,B,21.0,24,74,413,0.090,0.075,0.162,0.066,98
99,100,M,16.0,27,94,643,0.098,0.114,0.188,0.064,99

In [24]:
df2[df2["New_Column"].isin([2, 4])]

- >Setting values by label

In [ ]:
df2.at[2,"diagnosis_result"] = "B"
df2.loc[2]

id                       3
diagnosis_result         B
radius                 NaN
texture                 27
perimeter              130
area                  1203
smoothness           0.125
compactness           0.16
symmetry             0.207
fractal_dimension     0.06
New_Column               2
Name: 2, dtype: object

- >Setting values by position

In [ ]:
df

,id,diagnosis_result,radius,texture,perimeter,area,smoothness,compactness,symmetry,fractal_dimension
0,1,M,23.0,12,151,954,0.143,0.278,0.242,0.079
1,2,B,9.0,13,133,1326,0.143,0.079,0.181,0.057
2,3,M,NaN,27,130,1203,0.125,0.160,0.207,0.060
3,4,M,14.0,16,78,386,0.070,0.284,0.260,0.097
4,5,M,9.0,19,135,1297,0.141,0.133,0.181,0.059
...,...,...,...,...,...,...,...,...,...,...
95,96,M,23.0,16,132,1264,0.091,0.131,0.210,0.056
96,97,B,22.0,14,78,451,0.105,0.071,0.190,0.066
97,98,B,19.0,27,62,295,0.102,0.053,0.135,0.069
98,99,B,21.0,24,74,413,0.090,0.075,0.162,0.066
99,100,M,16.0,27,94,643,0.098,0.114,0.188,0.064

In [ ]:
df.iat[0, 0] = 100
df

,id,diagnosis_result,radius,texture,perimeter,area,smoothness,compactness,symmetry,fractal_dimension
0,100,M,23.0,12,151,954,0.143,0.278,0.242,0.079
1,2,B,9.0,13,133,1326,0.143,0.079,0.181,0.057
2,3,M,NaN,27,130,1203,0.125,0.160,0.207,0.060
3,4,M,14.0,16,78,386,0.070,0.284,0.260,0.097
4,5,M,9.0,19,135,1297,0.141,0.133,0.181,0.059
...,...,...,...,...,...,...,...,...,...,...
95,96,M,23.0,16,132,1264,0.091,0.131,0.210,0.056
96,97,B,22.0,14,78,451,0.105,0.071,0.190,0.066
97,98,B,19.0,27,62,295,0.102,0.053,0.135,0.069
98,99,B,21.0,24,74,413,0.090,0.075,0.162,0.066
99,100,M,16.0,27,94,643,0.098,0.114,0.188,0.064

- >>Missing data

- >In order to check null values in Pandas DataFrame, we use isnull() function this function return dataframe of Boolean values which are True for NaN values

In [ ]:
df1=df.copy()
df1.isnull()

,id,diagnosis_result,radius,texture,perimeter,area,smoothness,compactness,symmetry,fractal_dimension
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,True,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
95,False,False,False,False,False,False,False,False,False,False
96,False,False,False,False,False,False,False,False,False,False
97,False,False,False,False,False,False,False,False,False,False
98,False,False,False,False,False,False,False,False,False,False
99,False,False,False,False,False,False,False,False,False,False

In [ ]:
df1.notnull()

,id,diagnosis_result,radius,texture,perimeter,area,smoothness,compactness,symmetry,fractal_dimension
0,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True
2,True,True,False,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...
95,True,True,True,True,True,True,True,True,True,True
96,True,True,True,True,True,True,True,True,True,True
97,True,True,True,True,True,True,True,True,True,True
98,True,True,True,True,True,True,True,True,True,True
99,True,True,True,True,True,True,True,True,True,True

In [ ]:
df

,id,diagnosis_result,radius,texture,perimeter,area,smoothness,compactness,symmetry,fractal_dimension
0,100,M,23.0,12,151,954,0.143,0.278,0.242,0.079
1,2,B,9.0,13,133,1326,0.143,0.079,0.181,0.057
2,3,M,NaN,27,130,1203,0.125,0.160,0.207,0.060
3,4,M,14.0,16,78,386,0.070,0.284,0.260,0.097
4,5,M,9.0,19,135,1297,0.141,0.133,0.181,0.059
...,...,...,...,...,...,...,...,...,...,...
95,96,M,23.0,16,132,1264,0.091,0.131,0.210,0.056
96,97,B,22.0,14,78,451,0.105,0.071,0.190,0.066
97,98,B,19.0,27,62,295,0.102,0.053,0.135,0.069
98,99,B,21.0,24,74,413,0.090,0.075,0.162,0.066
99,100,M,16.0,27,94,643,0.098,0.114,0.188,0.064

In [ ]:
# sum of null value
df1.isnull().sum()

id                   0
diagnosis_result     0
radius               1
texture              0
perimeter            0
area                 0
smoothness           0
compactness          3
symmetry             0
fractal_dimension    2
dtype: int64

In [ ]:
# filling the null values as o
df1.fillna(value= 0)

,id,diagnosis_result,radius,texture,perimeter,area,smoothness,compactness,symmetry,fractal_dimension
0,100,M,23.0,12,151,954,0.143,0.278,0.242,0.079
1,2,B,9.0,13,133,1326,0.143,0.079,0.181,0.057
2,3,M,0.0,27,130,1203,0.125,0.160,0.207,0.060
3,4,M,14.0,16,78,386,0.070,0.284,0.260,0.097
4,5,M,9.0,19,135,1297,0.141,0.133,0.181,0.059
...,...,...,...,...,...,...,...,...,...,...
95,96,M,23.0,16,132,1264,0.091,0.131,0.210,0.056
96,97,B,22.0,14,78,451,0.105,0.071,0.190,0.066
97,98,B,19.0,27,62,295,0.102,0.053,0.135,0.069
98,99,B,21.0,24,74,413,0.090,0.075,0.162,0.066
99,100,M,16.0,27,94,643,0.098,0.114,0.188,0.064